<div class="header">
  <div class="header-about">
    <div class="header-logo">
      <img src="../../../assets/calculator.svg" alt="">
      <h3>CashControl</h3>
    </div>
    <div class="header-time">
      <h1>Местное время: {{ currentTime }}</h1>
    </div>
    <div class="header-inner">
      <nav>
        <ul>
          <li><a>Поддержка</a></li>
          <li><a href="#">Поддержать проект</a></li>
          <li><a href="#">О проекте</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-item">
      <button>Войти</button>
    </div>
  </div>
</div>